---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Base.astro";

const response = await fetch("https://dev.to/api/users/473140");
const data = await response.json();
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={"/placeholder-about.png"}
>
  <article
    class="prose prose-lg prose-slate flex max-w-none flex-col items-center text-center"
  >
    <h1>Welcome! 👋</h1>
    <div class="w-full md:max-w-2xl">
      <img
        src={"/placeholder-about.png"}
        alt=""
        class="rounded-xl border border-slate-3 shadow-lg"
      />
      <div class="rounded-lg border-2 border-slate-4 bg-slate-3 px-3">
        <p>
          {data.summary}
        </p>
      </div>
    </div>
  </article>
</Layout>
