---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt natus praesentium quos nesciunt iure, perferendis dolore atque laboriosam ab provident.</p>
</BaseLayout>
