---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Base.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={"/placeholder-about.png"}
>
  <article
    class="prose prose-lg prose-slate flex max-w-none flex-col items-center"
  >
    <h1>Welcome! 👋</h1>
    <img src={"/placeholder-about.png"} alt="" class="rounded-xl shadow-lg" />
    <p>
      Hey there, I'm Max Phillips, a software engineer originally from Sydney
      but raised in the Netherlands.
    </p>

    <p>
      I work on smart TV apps for 9Now, using technologies like React Native,
      TypeScript, AWS, and GraphQL to create innovative solutions.I started this
      dev blog to share my experiences and insights with other developers who
      are interested in software engineering. I'm always experimenting with new
      technologies and coding techniques, and I hope to inspire others to do the
      same.
    </p>
    <p>
      Whether you're a seasoned developer or just starting out, I hope you'll
      find some useful tips and tricks here that will help you improve your
      coding skills. Thanks for stopping by, and feel free to leave a comment or
      get in touch if you have any questions!
    </p>
  </article>
</Layout>
