---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "w-min p-3 rounded-lg animate transition-all duration-200 hover:bg-slate-4",
    className,
    { "text-crimson-9": isActive },
  ]}
  rel="prefetch"
  {...props}
>
  <slot />
</a>
