---
import HeaderLink from "./HeaderLink.astro";
import { GithubLogo, TwitterLogo } from "@phosphor-icons/react";
---

<header
  class="flex flex-col border-b border-slate-3 p-6 md:h-full md:border-b-0 md:border-r"
>
  <h2 class="mb-6 flex justify-center font-mono">
    <span class="text-crimson-9">~/</span>maxphillipsdev
  </h2>
  <nav class="flex justify-evenly md:flex-col">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/maxphillipsdev" target="_blank">
      <TwitterLogo size={18} />
    </HeaderLink>
    <HeaderLink href="https://github.com/maxphillipsdev" target="_blank">
      <GithubLogo size={18} />
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
