---
import HeaderLink from "./HeaderLink.astro";
import { LinkedinLogo, GithubLogo, TwitterLogo } from "@phosphor-icons/react";
---

<header class="border-slate-3 mb-6 flex justify-between border-b border-t">
  <nav class="flex text-center">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
  <div class="flex items-center">
    <HeaderLink href="https://github.com/maxphillipsdev" target="_blank">
      <GithubLogo size={18} />
    </HeaderLink>
    <HeaderLink href="https://linkedin.com/in/maxphillipsdev/" target="_blank">
      <LinkedinLogo size={18} />
    </HeaderLink>
    <HeaderLink href="https://twitter.com/maxphillipsdev" target="_blank">
      <TwitterLogo size={18} />
    </HeaderLink>
  </div>
</header>
