---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description: string;
  heroImage?: string;
}

const { title, description, heroImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark h-full bg-slate-1 text-slate-12">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>
  <body class="h-full">
    <main class="flex h-full flex-col md:flex-row">
      <Header title={title} />
      <slot />
    </main>
  </body>
</html>
