---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

export interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
}

const { title, description, heroImage } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
  class="dark h-full bg-slate-1 text-slate-12 transition-colors ease-in-out"
>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={heroImage}
    />
  </head>
  <body class="h-full">
    <main class="flex h-full flex-col gap-6 p-6 md:flex-row">
      <Header title={title} />
      <div class="no-scrollbar w-full overflow-y-auto">
        <slot />
      </div>
    </main>
  </body>
</html>
