---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

export interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
}

const { title, description, heroImage } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-slate-1 text-slate-12 dark h-full transition-colors ease-in-out"
>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={heroImage}
    />
  </head>
  <body class="flex h-full w-full justify-center">
    <main class="w-full flex-col gap-6 p-6 md:w-1/3">
      <a href="/" class="flex w-full items-center space-x-2">
        <img
          src="https://web.archive.org/web/20090806191037if_/http://www.geocities.com/cacjc2006/welcome_form.gif"
          alt="Welcome"
        />
        <p>To my blog!</p>
      </a>
      <Header title={title} />
      <div class="no-scrollbar overflow-y-auto">
        <slot />
      </div>
    </main>
  </body>
</html>
